@import '../../variables';
.stream {
	width: 95%;
	margin: 0 auto;
	padding: .5rem;
	box-shadow: $box-shadow-2;
	border-radius: $div-border-radius;
	background-color: $color-white;
	&__video {
		background-color: $color-3;
		min-height: 20rem;
	}
	&__details {
		padding: 1rem .5rem;
	}
	&__title {
		margin-bottom: 1rem;
		color: $color-4;
	}
}