@import '../../variables';
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    background-color: $color-white;
    box-shadow: $box-shadow-1;
    align-items: center;
    border-bottom: 3px solid $color-4;
    margin-bottom: 1rem;
    &__logo {
        a {
            text-decoration: none;
            color: $color-4;
            font-weight: 800;
            font-size: 1.25rem;
        }
    }
    &__nav {
        list-style: none;
        display: flex;
        align-items: center;
    }
    &__item {
        padding: .5rem;
        &:not(:last-of-type) {
            margin-right: .5rem;
        }
    }
    &__link {
        border: 0;
        outline: none;
        font-family: inherit;
        font-size: inherit;
        background-color: transparent;
        cursor: pointer;
        text-decoration: none;
        color: $color-4;
    }
}