$color-1: #dda5b6;
$color-2: #f2cc8c;
$color-3: #f1e6c1;
$color-4: #3f6aba;
$color-5: #4d5e72;
$button-border-radius: 1.25rem;
$div-border-radius: 1rem;
$box-shadow-1: 0 4px 8px rgba(0, 0, 0, 0.25);
$box-shadow-2: 4px 8px 16px rgba(0, 0, 0, 0.25);