$color-1: #db4737;
$color-2: #f4b777;
$color-3: #e3e3e3;
$color-4: #4885ed;
$color-5: #4d5e72;
$color-6: #1fad37;
$color-white: #fff;
$color-black: #000;
$button-border-radius: 0.25rem;
$input-border-radius: 0.25rem;
$div-border-radius: 0.25rem;
$box-shadow-1: 2px 4px 8px rgba(0, 0, 0, 0.25);
$box-shadow-2: 4px 8px 16px rgba(0, 0, 0, 0.25);