@import url('https://fonts.googleapis.com/css?family=Sarabun:400,700,800');
@import url('https://use.fontawesome.com/releases/v5.6.3/css/all.css');
@import './variables';
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Sarabun', sans-serif;
	color: $color-5;
	background-color: lighten($color-3, 7%);
}

.text-right {
	text-align: right;
}

.page-heading {
	text-align: center;
	margin-bottom: 1rem;
}
